.button{
    width: 95%;
    min-height: 40px;
    margin: 10px auto;
    position: relative;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

a.links{
    display: none;
}
  
.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label{
    color: #405c60;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #bebcbc;
  font-style: italic;
}

input {
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;
   
    -webkit-border-radius: 3px;
    border-radius: 5px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }